:root {
  --black: #111;
  --accent: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --gray: rgba(255, 255, 255, 0.7);
  --gray-secondary: rgba(17, 17, 17, 0.7);
  --fonts: 'Montserrat', sans-serif;
  --size-text: 14px;
  --line-height: 1.28;
  --letter-spacing: -0.02em;
}

body {
  font-family: var(--fonts);
  font-size: var(--size-text);
  color: var(--black);
  background-color: var(--bg-body);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  background-color: #fafafa;
}

html {
  scroll-behavior: smooth;
}

/* ========== RESET ========== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  font-style: normal;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  /* max-width: 100%; */
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ========== /RESET ========== */

.container {
  max-width: 335px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    max-width: 704px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 1136px;
  }
}

.accent {
  color: var(--accent);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========== PAGE HEADER ========== */

.header-container {
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: 768px) {
    gap: 28px;
  }

  @media only screen and (min-width: 1440px) {
    gap: 90px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;

  @media only screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media only screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 1.11;
  }
}

.header-logo-svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-choco-svg {
  width: 21px;
  height: 21px;

  @media only screen and (min-width: 1440px) {
    width: 24px;
    height: 24px;
  }
}

.header-nav-list {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
  }

  @media only screen and (min-width: 1440px) {
    gap: 24px;
  }
}

.header-nav-link {
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;

  cursor: pointer;

  transition: 250ms;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent);
}

.header-socials-list {
  display: none;

  @media only screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

.header-svg-container {
  @media only screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
    padding: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: 250ms;
  }
}

.header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-svg {
  fill: var(--black);
  transition: 250ms;
}

.header-svg-container:is(:hover, :focus-within) {
  border-color: rgba(253, 146, 34, 0.3);
}

.header-svg-container:is(:hover, :focus-within) .header-svg {
  fill: var(--accent);
}

/* ========== /PAGE HEADER ========== */

/* ========== HERO SECTION ========== */

.hero-section {
  background: rgba(17, 17, 17, 0.7);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/bg-img/hero-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 30px;

  margin-bottom: 80px;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/bg-img/hero-bg_mob@2x.jpg');
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    margin-bottom: 40px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/bg-img/hero-bg_tab@1x.jpg');
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/bg-img/hero-bg_tab@2x.jpg');
  }
}

@media only screen and (min-width: 1440px) {
  .hero-section {
    margin-bottom: 80px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/bg-img/hero-bg.jpg');
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/bg-img/hero-bg@2x.jpg');
  }
}

.hero-content {
  padding: 395px 20px 20px;

  @media only screen and (min-width: 768px) {
    padding: 671px 40px 40px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 381px 40px 40px;
  }
}

.hero-heading {
  color: var(--white);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;

  max-width: 291px;
  margin-bottom: 32px;

  @media only screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.21;
    max-width: 484px;
  }
}

.hero-all-links-container {
  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.hero-first-links-wrapper {
  display: flex;
  gap: 14px;

  @media only screen and (max-width: 767px) {
    justify-content: space-between;
    margin-bottom: 32px;
  }
}

.hero-button {
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;

  border-radius: 100px;
  color: var(--white);
  background-color: var(--accent);

  padding: 12px 28px;
  min-width: 120px;

  transition: 250ms;

  &:hover {
    color: var(--accent);
    background-color: var(--beige);
  }

  &:focus {
    color: var(--accent);
    background-color: var(--beige);
  }

  @media only screen and (min-width: 768px) {
    padding: 14px 40px;
    min-width: 144px;
  }
}

.hero-link {
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;
  color: var(--white);

  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 12px 26px;
  min-width: 159px;

  transition: 250ms;

  &:hover {
    color: var(--accent);
    border: 1px solid var(--accent);
  }

  &:focus {
    color: var(--accent);
    border: 1px solid var(--accent);
  }

  @media only screen and (min-width: 768px) {
    padding: 14px 40px;
    min-width: 183px;
  }
}

.hero-scroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-decoration: none;

  outline-offset: 4px;
  transition: 250ms;

  @media only screen and (min-width: 768px) {
    justify-content: center;
    gap: 14px;
  }
}

.hero-scroll-text {
  color: white;
  transition: 250ms;

  @media only screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
  }
}

.hero-scroll-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;
  transition: 250ms;

  @media only screen and (min-width: 768px) {
    width: 38px;
    height: 38px;
  }
}

.hero-scroll-icon svg {
  fill: var(--accent);
  transition: 250ms;

  @media only screen and (max-width: 767px) {
    width: 16px;
    height: 16px;
  }
}

.hero-scroll:is(:hover, :focus) .hero-scroll-text {
  color: var(--accent);
}

.hero-scroll:is(:hover, :focus) .hero-scroll-icon {
  background: var(--accent);
}

.hero-scroll:is(:hover, :focus) .hero-scroll-icon svg {
  fill: white;
}

/* ========== /HERO SECTION ========== */

/* ========== BENEFITS SECTION ========== */

.benefits-section {
  background: var(--violet);
  padding: 20px 0px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    padding: 50px 0px;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  gap: 20px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 88px;
    row-gap: 44px;
  }
}

.benefits-list-item {
  position: relative;
  width: 100%;
  height: 244px;

  @media only screen and (min-width: 768px) {
    width: calc((100% - 88px) / 2);
  }

  @media only screen and (min-width: 1440px) {
    width: calc((100% - 88px * 2) / 3);
  }
}

.benefits-list-item:not(:last-child)::after {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 124px;
  height: 0px;
  transform: rotate(-90deg);

  position: absolute;
  content: '';
  right: -105px;
  top: 130px;

  @media only screen and (max-width: 1439px) {
    display: none;
  }
}

.benefits-svg-wrapper {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 22px;
}

.benefits-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--white);

  margin-bottom: 18px;
}

.benefits-text {
  color: rgba(255, 255, 255, 0.7);
}

/* ========== /BENEFITS SECTION ========== */

/* ========== INGREDIENTS SECTION ========== */

.ingredients-section {
  margin: 80px auto;

  @media only screen and (min-width: 768px) {
    margin: 100px auto;
  }

  @media only screen and (min-width: 1440px) {
    margin: 120px auto;
  }
}

.ingredients-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);

  text-align: center;

  max-width: 291px;

  margin: 0 auto 32px;

  @media only screen and (min-width: 768px) {
    max-width: 411px;
    margin: 0 auto 50px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 486px;
  }
}

.ingredients-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media only screen and (min-width: 768px) {
    gap: 32px;
  }

  @media only screen and (min-width: 1440px) {
    gap: 24px 32px;
  }
}

.ingredients-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border-radius: 15px;

  padding: 32px 50px 28px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }

  @media only screen and (min-width: 1440px) {
    width: calc((100% - 32px * 3) / 4);
    gap: 36px;
    padding: 28px 23px;
  }
}

.hidden-ingredients-li {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.ingredients-list-item:nth-child(even) {
  border: 1px solid var(--accent);
  background: var(--white);
  color: var(--black);
}

.ingredients-list-item:nth-child(4n + 1) {
  background: var(--accent);
  color: var(--white);
}

.ingredients-list-item:nth-child(4n + 3) {
  background: var(--violet);
  color: var(--white);
}

.ingredients-li-text {
  /* text-align: left; */
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */

  max-width: 191px;

  font-weight: 600;
  font-size: 14px;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.ingredients-img {
  @media (min-width: 1440px) {
    width: 214px;
    height: 160px;
  }
}

/* ========== /INGREDIENTS SECTION ========== */

/* ========== HOWITSMADE SECTION ========== */

.howitsmade-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);

  margin: 0 auto 50px;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.howitsmade-big-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.howitsmade-img {
  border-radius: 15px;
  object-fit: cover;
  width: 335px;
  height: 500px;

  @media only screen and (min-width: 768px) {
    width: 100%;
    height: 400px;
  }

  @media only screen and (min-width: 1440px) {
    width: 600px;
    height: 400px;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;

  background: var(--white);

  border-radius: 15px;
  padding: 20px 14px;

  @media only screen and (min-width: 768px) {
    padding: 32px;
  }
}

.list-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  max-width: 307px;

  margin-bottom: 20px;

  @media only screen and (min-width: 768px) {
    max-width: 340px;
    margin-bottom: 28px;
  }
}

.preparation-list {
  display: flex;
  flex-direction: column;

  gap: 18px;

  padding-left: 16px;

  @media only screen and (min-width: 1440px) {
    gap: 24px;
  }
}

.preparation-list-item {
  position: relative;
}

.disc-svg {
  position: absolute;
  top: 5px;
  left: -15px;
}

/* ========== /HOWITSMADE SECTION ========== */

/* ========== PRODUCTS SECTION ========== */
.products-section {
  margin: 80px auto;

  @media only screen and (min-width: 768px) {
    margin: 100px auto;
  }

  @media only screen and (min-width: 1440px) {
    margin: 120px auto;
  }
}

.products-section-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);

  margin: 0 auto 32px;

  @media only screen and (min-width: 768px) {
    margin: 0 auto 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  width: 100%;

  @media only screen and (min-width: 1440px) {
    gap: 24px 18px;
  }
}

.products-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 32px 53px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  background: var(--white);

  width: 100%;

  @media only screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }

  @media only screen and (min-width: 1440px) {
    width: calc((100% - 18px * 3) / 4);
    padding: 32px 20px;
  }
}

.products-li-img {
  margin-bottom: 8px;
}

.products-li-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--black);

  margin-bottom: 2px;
}

.products-li-text {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);

  margin-bottom: 18px;
}

.products-li-price {
  font-weight: 600;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  min-width: 94px;
  background: var(--light);
}

/* ========== /PRODUCTS SECTION ========== */

/* ========== TOP SELLERS SECTION ========== */

.sellers-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;

  margin: 0 auto 32px;

  @media only screen and (min-width: 768px) {
    margin: 0 auto 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}

.sellers-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.sellers-list-item {
  width: 100%;

  @media only screen and (min-width: 768px) {
    width: calc((100% - 16px) / 2);
  }

  @media only screen and (min-width: 1440px) {
    width: calc((100% - 16px * 2) / 3);
  }
}

.hidden-sellers-dark {
  @media only screen and (max-width: 1439px) {
    display: none;
  }
}

.hidden-sellers-fruits {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.sellers-li-img {
  border-radius: 15px 15px 0 0;
  width: 335px;
  height: 464px;

  @media only screen and (min-width: 768px) {
    width: 344px;
    height: 464px;
  }

  @media only screen and (min-width: 1440px) {
    width: 368px;
    height: 464px;
  }
}

.sellers-li-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--black);

  text-align: center;

  padding: 24px 0;

  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;

  @media only screen and (min-width: 768px) {
    padding: 28px 0;
  }
}

.overlay-container {
  position: relative;
  overflow: hidden;

  border-radius: 15px 15px 0 0;
}

.overlay-text {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 45%;

  color: var(--white);

  transform: translateY(100%);

  @media only screen and (min-width: 1440px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.overlay-container:hover .overlay-text {
  @media only screen and (min-width: 1440px) {
    transform: translateY(0%);
    cursor: pointer;

    backdrop-filter: blur(5px);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
}

/* ========== /TOP SELLERS SECTION ========== */

/* ========== REVIEWS SECTION ========== */

.reviews-section {
  margin: 80px auto;

  @media only screen and (min-width: 768px) {
    margin: 100px auto;
  }

  @media only screen and (min-width: 1440px) {
    margin: 120px auto;
  }
}

.reviews-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  margin-bottom: 74px;

  @media only screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 91px;
  }
}

.reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
  }

  @media only screen and (min-width: 1440px) {
  }
}

.hidden-nazar {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.hidden-olena {
  @media only screen and (max-width: 1439px) {
    display: none;
  }
}

.reviews-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 32px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 50px;
    gap: 16px;
  }

  @media only screen and (min-width: 1440px) {
    gap: 28px;
  }
}

.reviews-list-item {
  width: 100%;
  height: 200px;

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: var(--white);

  padding: 56px 18px 42px;

  position: relative;

  @media only screen and (min-width: 768px) {
    max-width: calc((100% - 16px) / 2);
    padding: 56px 16px 42px;
  }

  @media only screen and (min-width: 1440px) {
    max-width: calc((100% - 28px * 2) / 3);
    padding: 56px 24px 24px;
  }
}

.reviews-li-img {
  position: absolute;
  top: -20%;
  right: 38%;

  @media only screen and (min-width: 1440px) {
    right: 40%;
  }
}

.reviews-li-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;

  text-align: center;

  margin-bottom: 24px;
}

.reviews-li-text {
  color: rgba(17, 17, 17, 0.7);

  text-align: center;
}

.reviews-button {
  font-weight: 600;
  font-size: 14px;
  color: var(--black);
  font-family: var(--font-family);

  border: 1px solid var(--accent);
  background: transparent;
  border-radius: 100px;
  padding: 12px 28px;
  max-width: 165px;

  transition: 250ms;

  &:hover {
    color: var(--white);
    background: var(--accent);
  }

  &:focus {
    color: var(--white);
    background: var(--accent);
  }

  @media only screen and (min-width: 768px) {
    padding: 14px 40px;
    max-width: 222px;
    font-size: 18px;
  }
}

/* ========== /REVIEWS SECTION ========== */

/* ========== FOOTER SECTION ========== */

footer {
  background: var(--violet);
  padding: 32px 0;

  @media only screen and (min-width: 768px) {
    padding: 50px 0;
  }
}

.first-big-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;

  position: relative;

  @media only screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 74px;
  }
}

.first-big-container::after {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 1px;

  transform: rotate(-180deg);

  position: absolute;
  content: '';
  right: 0;
  top: 290px;

  @media only screen and (min-width: 768px) {
    top: 120px;
  }
}

.socials-and-address-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;

  @media only screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  @media only screen and (min-width: 1440px) {
    gap: 50px;
  }
}

.footer-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: var(--white);
  max-width: 300px;

  @media only screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.2;
  }
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  @media only screen and (min-width: 1440px) {
    gap: 24px;
  }
}

.footer-nav-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--white);

  padding: 32px 0;

  transition: 250ms;

  &:hover {
    color: var(--accent);
  }

  &:focus {
    color: var(--accent);
  }
}

.footer-socials-text {
  font-weight: 500;
  color: var(--white);
  margin-bottom: 14px;
}

.footer-socials-list {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.footer-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;

  fill: white;
  transition: border-color 250ms, fill 250ms;

  &:hover {
    cursor: pointer;
    border-color: rgba(253, 146, 34, 0.3);
    fill: var(--accent);
  }

  &:focus-within {
    border-color: rgba(253, 146, 34, 0.3);
    fill: var(--accent);
  }
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-address-p {
  font-weight: 500;
  color: var(--white);
  margin-bottom: 14px;
}

.footer-address-li a {
  color: var(--white);
}

.second-big-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.input-and-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  min-width: 207px;
  background-color: transparent;
  outline: none;

  font-size: 14px;
  line-height: 1.22;
  color: var(--white);

  transition: 250ms;

  &:hover {
    border-color: rgba(253, 146, 34, 0.3);
  }

  &:focus {
    border-color: var(--accent);
  }

  @media only screen and (min-width: 768px) {
    padding: 14px 24px;
    min-width: 233px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 13px 24px;
    min-width: 313px;
    font-size: 18px;
  }
}

.footer-button {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--white);

  border-radius: 100px;
  padding: 14px 26px;
  min-width: 120px;
  background: var(--accent);

  transition: 250ms;

  &:hover {
    color: var(--accent);
    background-color: var(--beige);
  }

  &:focus {
    color: var(--accent);
    background-color: var(--beige);
  }

  @media only screen and (min-width: 768px) {
    padding: 14px 28px;
    min-width: 128px;
  }

  @media only screen and (min-width: 1440px) {
    padding: 17px 40px;
    min-width: 137px;
  }
}

/* ========== /MOBILE MENU ========== */

.mobile-menu.is-open {
  transform: translateX(0);
  pointer-events: auto;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color: rgb(31, 25, 36);
  transform: translateX(200%);
  transition: transform 250ms linear;
}

.container.mobile-menu-container {
  padding: 136px 52px 20px 20px;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100% - 156px);
}

.menu-close-button {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-close-button-svg {
  stroke-width: 2px;
  stroke: var(--white);
  transition: 250ms;
}

.menu-close-button:hover .menu-close-button-svg,
.menu-close-button:focus .menu-close-button-svg {
  stroke: var(--accent);
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
}

.menu-nav-link {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 1.14;
  color: var(--white);

  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  transition: 250ms;

  &:hover {
    color: var(--accent);
  }

  &:focus {
    color: var(--accent);
  }
}

.menu-socials-list {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.menu-socials-li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  transition: 250ms;
}

.menu-socials-svg {
  fill: var(--white);
  transition: 250ms;
}

.menu-socials-li:hover,
.menu-socials-li:focus {
  border-color: rgba(253, 146, 34, 0.3);
}

.menu-socials-li:hover .menu-socials-svg,
.menu-socials-li:focus .menu-socials-svg {
  fill: var(--accent);
}

.menu-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-open-button {
  display: inline-block;
  height: 46px;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.open-menu-svg {
  stroke: #111111;
}

/* ========== /MOBILE MENU ========== */

/* ========== BACKDROP ========== */

.backdrop.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 40px;
  width: 517px;
  background-color: var(--white);
  height: 90vh;
  overflow: scroll;

  @media only screen and (max-width: 767px) {
    padding: 32px 24px;
    width: 311px;
  }
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: #111111;
  transition: 250ms;

  @media only screen and (max-width: 767px) {
    top: 14px;
    right: 14px;
  }
}

.modal-close-btn-icon {
  @media only screen and (max-width: 767px) {
    width: 24px;
    height: 24px;
  }
}

.modal-close-button:hover,
.modal-close-button:focus {
  stroke: #fd9222;
}

.modal-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 100%;
  margin-bottom: 40px;

  @media only screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 32px;
  }
}

.modal-label {
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 8px;

  @media only screen and (max-width: 767px) {
    margin-bottom: 4px;
    font-size: 13px;
  }
}

.modal-input {
  border-radius: 13px;
  padding-left: 62px;
  height: 68px;
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  font-size: 18px;
  background-color: transparent;
  outline: none;
  transition: 250ms;

  @media only screen and (max-width: 767px) {
    padding-left: 42px;
    height: 45px;
    font-size: 13px;
  }
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: #fd9222;
}

.modal-textarea {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  height: 137px;
  width: 100%;
  resize: none;
  font-size: 18px;
  outline: none;
  background-color: transparent;
  transition: 250ms;

  @media only screen and (max-width: 767px) {
    padding: 14px 18px;
    height: 91px;
    font-size: 13px;
  }
}

.modal-textarea::placeholder {
  font-size: 18px;
  color: rgba(64, 64, 64, 0.3);

  @media only screen and (max-width: 767px) {
    font-size: 13px;
  }
}

.modal-form-field-wrapper {
  margin-bottom: 18px;

  @media only screen and (max-width: 767px) {
    margin-bottom: 14px;
  }
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-field-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: none;
  stroke: #404040;
  transition: 250ms;

  @media only screen and (max-width: 767px) {
    left: 18px;
    width: 18px;
    height: 18px;
  }
}

.modal-input:focus + .modal-form-field-icon {
  stroke: #fd9222;
}

.modal-form-checkbox-wrapper {
  margin-bottom: 40px;

  @media only screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.modal-form-policy-label {
  color: rgba(64, 64, 64, 0.6);
}

.modal-form-policy-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  cursor: pointer;
  fill: transparent;
  margin-right: 12px;
}

.modal-form-policy-checkbox:checked
  + .modal-form-policy-label
  .modal-form-policy-own-checkbox {
  background-color: #fd9222;
  border-color: #fd9222;
  fill: #ffffff;
}

.privacy-policy-link {
  text-decoration: underline;
  color: var(--accent);
}

.privacy-policy-span {
  @media only screen and (max-width: 767px) {
    padding-left: 32px;
  }
}

.modal-send-btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--white);

  border-radius: 100px;
  padding: 14px 40px;
  min-width: 117px;
  background: var(--accent);

  @media only screen and (max-width: 767px) {
    padding: 12px 28px;
    min-width: 93px;
  }
}

/* ========== /BACKDROP ========== */
