:root {
  --black: #111;
  --accent: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --gray: rgba(255, 255, 255, 0.7);
  --gray-secondary: rgba(17, 17, 17, 0.7);
  --fonts: 'Montserrat', sans-serif;
  --size-text: 14px;
  --line-height: 1.28;
  --letter-spacing: -0.02em;
}

body {
  font-family: var(--fonts);
  font-size: var(--size-text);
  color: var(--black);
  background-color: var(--bg-body);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

/* RESET */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero-section {
  max-width: 1200px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* RESET */

/* PAGE HEADER */

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
}

.header-link {
  display: inline-block;
  column-gap: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-link:hover,
.header-link:focus {
  color: #fd9222;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  font-style: italic;
  line-height: 1.11;
  letter-spacing: -0.03em;
  align-items: center;
}

.header {
  display: block;
  max-width: 1200px;
  height: auto;
}

.header-link {
  font-weight: 500;
  line-height: 1.14;
}

/* /PAGE HEADER */

/* HERO SECTION */

.hero-section {
  padding-top: 381px;
  padding-bottom: 40px;
  background: rgba(17, 17, 17, 0.7);
}

.hero-container {
  max-width: 100%;
  padding-left: 56px;
  padding-right: 56px;
  margin: 0 auto;
  color: var(--white);
}

.hero-heading {
  font-weight: 500;
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  padding-top: 381px;
  padding-bottom: 32px;
  max-width: 484px;
}

.hero-button {
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: var(--accent);
  margin-right: 14px;
  min-width: 144px;
  color: inherit;
}

.hero-link {
  font-weight: 600;
  font-size: 14px;
  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 14px 40px;
}

.hero-content-wrapper {
  display: flex;
}

.hero-scroll-down {
  margin-left: auto;
}

/* /HERO SECTION */

/* BENEFITS SECTION */

.benefits-section {
  background: var(--violet);
  padding: 50px 0px;
  width: 100%;
  height: auto;
}

.benefits-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--white);
}

.benefits-text {
  font-weight: 400;
  line-height: 1.28;
  color: rgba(255, 255, 255, 0.7);
}

/* /BENEFITS SECTION */

/* INGREDIENTS SECTION */

.ingr.heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.accent {
  color: var(--accent);
}

.ingr-box {
  border-radius: 15px;
  width: 260px;
  height: 270px;
}

.ingr-box:nth-child(:even) {
  border: 1px solid var(--orange);
  background: var(--white);
}

/* /INGREDIENTS SECTION */

/* REVIEWS SECTION */

.reviews-heading {
  margin-bottom: 91px;
}

.ul-reviews {
}

.reviews {
  display: flex;
  width: 360px;
  gap: 28px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0.03);
  background: var(--white);
  /* calc((100% - 28px * 2)) / 3; */
}

.review-img {
  display: block;
  object-fit: contain;
}

.button {
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 100px;
  padding: 14px 40px;
}

.reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 28px;
}

/* /REVIEWS SECTION */

/* PRODUCTS SECTION */

.heading-products-section {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-products-section {
  display: flex;
  direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 18px;
  width: calc((100% - 18px * 3) / 4);
  align-items: flex-start;
  justify-content: flex-start;
}

.list-items-products {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  /* width: 270px;
        height: 364px; */
  background: var(--white);
  text-align: center;
}

.products-img {
}

.heading-three-products {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-transform: uppercase;
}

.products-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(17, 17, 17, 0.7);
}

.price {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 14px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background: var(--light);
  max-width: 94px;
}

/* /PRODUCTS SECTION */
